.grid-buttons{

    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 75px;
    grid-gap: 200px;
}

.from-json{

    display: block;
    width:auto;
}
.options{

    background-color: rgb(15, 151, 15);  
}

.go-back{
    background-color: rgb(15, 151, 15); 
    width: 200px;
    height: 75px; 
}

.send{

    display: block;
    background-color: rgb(15, 151, 15);
    color: white;
    width: 40%;
    height: 50px;
   
}
.fromJson{
    
    width: 40%;
    height: 400px;
    resize: none;

}

.grid-cards{

    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 550px;
    grid-column-gap: 200px;
}

.container-general{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 150px;
    grid-gap: 50px;
    

}

.item-general{
    background-color: rgb(15, 151, 15);
}

.item-send{
    
}


.container-details{

    background-color: rgb(15, 151, 15);
}

.grid-form{

    display: grid;
    grid-area: "headder"
                "resourse"
                "category"
                "creation_date";

}

.headder-general{
    margin-top: 30px;
    font-size: larger;
    color: white;

}
.item-form-tags{
    margin-top: 15px;
    font-size: larger;
    color: white;

}
.item-form2{
    
    font-size:medium;
    margin-top: 20px;
    margin-left: 15px;margin-right: 15px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 35px;
}

.item-form-general{
    
    font-size:medium;
    margin-top: 45px;
    margin-left: 15px;margin-right: 15px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 60px;
}

.item-form-details{
    
    font-size:medium;
    margin-top: 30px;
    margin-left: 15px;margin-right: 15px;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 35px;
}

.form-input{

    
    height: 35px;
    resize: none;

}

.form-input3{

    height: 35px;
    resize: none;

}

.send-form{

    display: block;
    background-color: rgb(15, 151, 15);
    color: white;
    width: 100%;
    height: 100%;
}